* {
    background-color: #0c0c0e;
    color: #D9D9D9;
}
.menuLogin {
    display: flex;
    flex-direction: row;
    padding: 0 0 0.6em 0;
    border-bottom: 0.4px solid rgb(92, 92, 92);
    list-style: none;
} 
.activo {
    color: #ffffff;
    border-bottom: 2.8px solid #6B0034;

}

.menuLogin li a {
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: #666666;
}

