
<form class="formulario" 
autocomplete="off"
[formGroup]="miFormulario"
(ngSubmit)="login()">

    <div>
        <p>Email adress</p>
        <input 
               type="email" 
               formControlName="email" 
               placeholder="email@hello.com">
        <span></span>
    </div>

    <div>
        <p>Password</p>
        <input 
               type="password"
               formControlName="password" 
               placeholder="Enter your password...">
        <span></span>
    </div>
    
    <div class="forgot">
        <a href="#">I forgot my password</a>
    </div>
    
    <div>
        <div>
            <div></div>
            <button type="submit">
                LOG IN
            </button>
        </div>
    </div>

</form>
