

.formulario {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.formulario p {
    font-size: 0.8em;
    font-weight: 200;
    padding: 0.2em 0.4em;  
}
.formulario input {
    width: 340px;
    font-size: 1.1em;
    font-weight: 300;
    border-radius: 10px;
    padding: 0.5em 0.5em;
    border: 0.4px solid #323232;
    margin-bottom: 0.5em;
    outline:none;
    background-color: #323232;
    color: #D9D9D9;
}

.formulario input:focus {
    border: 0.4px solid #888888;
    color: #fff;
}
.formulario .error {
    color: red;
    font-size: 0.7em;
    font-weight: 400;
}
.formulario .error2 {
    color: red;
    border: 1px solid red;
    border-radius: 50px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

div:focus-within p{
    color: #ffffff;
    font-weight: 400;
   
}

.forgot {
    width: 320px;
    text-align: end;
    padding-bottom: 1em;
}
.forgot a{
    font-size: 0.9em;
    font-weight: 300;
    color: #D9D9D9;
    cursor: pointer;
}
button {
    background-color: #50555C;
    color: #fff;
    width: 340px;
    padding: 0.6em 0.5em;
    border-radius: 10px;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
    border: none;
}

button:active {
    animation: borderanimation 0.5s;
}

@keyframes borderanimation {
    from {
         border: 1px solid grey;
         background-color: #fff;
         scale: 1;
    }
    to {
        border: 1px solid grey;
        background-color: #fff;
         scale: 0;
    }
}