
<form autocomplete="off">
                
    <span>
        Login
    </span>

    <div>
        <span>Email</span>
        <input 
               type="email" 
               name="email" 
               placeholder="Ingrese su email">
        <span></span>
    </div>

    <div>
        <span>Password</span>
        <input 
               type="password"
               name="password" 
               placeholder="Ingrese su contraseña">
        <span class="focus-input100"></span>
    </div>
    
    <div></div>
    
    <div>
        <div>
            <div></div>
            <button>
                Login
            </button>
        </div>
    </div>

    <div>
        <span>
            ¿No tienes cuenta?
        </span>

        <a routerLink="/auth/registro">
            Crear una aquí
        </a>
    </div>
</form>
