
<form class="formulario" 
autocomplete="off"
[formGroup]="miFormulario"
(ngSubmit)="login()">

    <div>
        <p>Email adress</p>
        <input 
               type="email"
               formControlName="email" 
               placeholder="email@hello.com">
               <p class="error" *ngIf="esValido('email') && submit" >* Enter a valid email</p>
    </div>

    <div>
        <p>Password</p>
        <input 
               type="password"
               formControlName="password" 
               placeholder="Enter your password...">
        <p class="error" *ngIf="esValido('password') && submit" >* Enter a valid password, at least 6 characters</p>
    </div>
    
    <div class="forgot">
        <a href="#">I forgot my password</a>
    </div>
    
    <div>
        <div>
            <div></div>
            <button type="submit">
                LOG IN
            </button>
        </div>
    </div>

</form>
