.container {
    background-color: #0c0c0e;
    color: #D9D9D9;
    padding-top: 1.4em;
}
h1 {
    font-size: 1.55em;
    font-weight: 500;
    padding-bottom: 0.5em;
}
h1 svg path {
    stroke: #d9d9d9;
    stroke-width: 0.7;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1em;
    font-weight: 400;
    padding-left: 0.8em;
    padding-bottom: 0.8em;
}
h5 {
    font-size: 0.75em;
    font-weight: 300;
}
.buttonsOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.7em;
}
button {
    width: 158px;
    background: #0c0c0e;
    color: #fff;
    padding: 0.5em 0;
    border-radius: 10px;
    margin-bottom: 2em;
    font-size: 0.75em;
    font-weight: 200;
    cursor: pointer;
    border: none;
}

#cromos {
    background: #6B0034;
}

button svg {
    margin-right: 0.5em;
}
.containerCards {
 margin: 0 1em 5em 1em;   
}

.card3 {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    background: linear-gradient(271.54deg, #20203A -0.97%, #0E0E16 88.94%);
    border-radius: 10px;
    margin-bottom: 1.2em;
}

.card3:hover {
    cursor: pointer;
}

.topCard {
    width: 330px;
    display: flex;
    flex-direction: row;
    padding-right: 0.6em;
    padding-top: 0.1em;
    

}
.topCard h2 {
    width: 210px;
    padding-top: 0.7em;
}
.topCard svg {
    margin-right: 0.2em;
}
.topCard img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    object-fit:cover;
    margin-right:0.2em;
}
.card3 span {
    font-size: 0.7em;
    font-weight: 500;
}
.bottomCard strong {
    font-weight: 600;
}
.bottomCard {
    margin-left: 1em;
    padding-bottom: 0.25em;
}

.loader {
    height: 60vh;
    scale: 1.2;
}
