
<div class="container">
<h1><img src="../../../assets/icons/i_mycollection_w.svg"/>My collection</h1>
<h3>Collection's progress</h3>

<app-progressbar [pagName]="nombrePag" [totalSpc]="totalEspeciales"
                [totalCntr]="totalPaises" [totalTiml]="totalHistoricos"></app-progressbar>

<button class="boton1">
    <img src="../../../assets/icons/i_missing.svg" alt="missing stickers icon">
    <div class="button-text">
    <p>Missing Stickers</p>
    <small>139 missing stickers</small>
    </div>
    <img src="../../../assets/icons/i_chevron_right.svg" alt="chevron right icon">
</button>
<button class="boton1" routerLink="repeated">
    <img src="../../../assets/icons/i_duplicate.svg" alt="repeated stickers icon">
    <div class="button-text">
    <p>Repeated Stickers</p>
    <small>{{totalRepes}} repeated stickers</small>
    </div>
    <img src="../../../assets/icons/i_chevron_right.svg" alt="chevron right icon">
</button>


<h3 class="categories">Categories</h3>
<button class="boton2" routerLink="specials">
    <img src="../../../assets/icons/i_stadium.svg" alt="stadium stickers icon">
    <p>Stadiums, specials...</p>
    <small>{{totalSpecials}}/19</small>
    <img src="../../../assets/icons/i_chevron_right.svg" alt="chevron right icon">
</button>
<button class="boton2" routerLink="countries">
    <img src="../../../assets/icons/i_country.svg" alt="stadium stickers icon">
    <p>Countries</p>
    <small>{{totalCountries}}/640</small>
    <img src="../../../assets/icons/i_chevron_right.svg" alt="chevron right icon">
</button>


<button class="boton2 timeline" routerLink="timeline">
    <img src="../../../assets/icons/i_timeline.svg" alt="timeline stickers icon">
    <p>Timeline</p>
    <small>{{totalTimeline}}/11</small>
    <img src="../../../assets/icons/i_chevron_right.svg" alt="chevron right icon">
</button>

</div>
<app-navbar></app-navbar>