<app-header></app-header>
<div class="container">
<h1>My Collection</h1>
<h3>Collection's progress</h3>
<app-progressbar></app-progressbar>
<button class="boton1">Missing Stickers</button>
<button class="boton1">Repeated Stickers</button>
<h2 class="my-4">CATEGORIES</h2>
<button class="boton2" routerLink="specials">Stadium, specials...</button>
<button class="boton2" routerLink="countries">Countries</button>
<button class="boton2" routerLink="timeline">Timeline</button>
</div>
<app-navbar></app-navbar>