.header {
    margin: 1.5em 1em;   
}

.header span {
    margin-left: 0.3em;
}


.header a {
    margin-left: 0.6em;
    color: #000;
    text-decoration: none;
}

.header svg {
    margin-right: 0.5em;
}

.container h1, h4  {
    margin-left: 0.4em;
}

h1 {
    font-size: 1.6em;
    font-weight: 400;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
}
.container h3 {
    margin-left: 0.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: 300;
}
.card2 {
    background-image: radial-gradient(#f20089 0%, #bc00dd 50%, #2d00f7 80%);
    color: #fff;
    width: 100px;
    height: 125px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
    border-radius: 15px;
    border: none;
}
.card2 .resta {
    margin-right: 4em;
    margin-top: 0.7em;
}
.card2 h5 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0.6em;
}
.card2 .numCards {
    background-color: rgba(255, 255, 255, 0.316);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}
.container {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
