p {
    font-size: 0.8em;
    font-weight: 300;
    padding: 0.8em 0.4em;
}
.container {
    width: 350px;
    padding-top: 0.4em;
}
.progress {
    background-color:#282830;
    border-radius: 15px;
}
.progress-bar {
    margin:0;
    background:#6B0034;
}