nav {
    background-color: #0C0C0E;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 80px;
    padding-top: 0.5em;
    border-top: 1px solid #50555C;
}
ul {
    list-style: none;
    font-size: 0.65em;
    
}
a {
    text-decoration: none;
    color:#7E7E7E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.2em;
    padding:0;
}

.match {
    padding-bottom: 1.4em;
}

.messages {
    padding-top: 0.7em;
}
.profil {
    padding-top: 0.7em;
}
.activo {
    color: #fff;
}
.activo svg path {
    fill:#fff;
}