
<form class="formulario" 
autocomplete="off"
[formGroup]="miFormulario"
(ngSubmit)="registro()">

    <div>
        <p>Your name</p>
        <input 
               type="text" 
               formControlName="name" 
               placeholder="John Smith">
               <p class="error" *ngIf="esValido('name') && submit" >* Enter a valid name</p>
    </div>
    <div>
        <p>Email adress</p>
        <input 
               type="email" 
               formControlName="email" 
               placeholder="email@hello.com">
            <p class="error" *ngIf="esValido('email') && submit" >* Enter a valid email</p>
    </div>

    <div>
        <p>Password</p>
        <input 
               type="password"
               formControlName="password" 
               placeholder="Enter your password...">
               <p class="error" *ngIf="esValido('password') && submit" >* Enter a valid password, at least 6 characters</p>
    </div>

    <div>
        <p>Confirm your password</p>
        <input 
               type="password"
               formControlName="confirmPassword" 
               placeholder="Enter your password again...">
               <p class="error" *ngIf="esValido('confirmPassword') && submit" >* Enter a valid password, at least 6 characters</p>
    </div>

    <div class="checkEighteen">
        <input
        type="checkbox"
        formControlName="older"
        value="older"
      />
      <span><label> I certify that I amb at least 18 years </label></span>
      
    </div>

    
    
    
    <div>
        <div>
            <div></div>
            <button type="submit">
                SIGN UP
            </button>
        </div>
    </div>

</form>
