.ranking {
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
    gap: 0.6em;
}

.fila {
    width: 190px;
    background: linear-gradient(271.54deg, #20203A -0.97%, #0E0E16 88.94%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction: row;
    z-index: 1;
    font-size: 0.85em;
    padding:0.45em 0.2em;
    border-radius: 10px;
}
.indice {
    width: 20px;
}
.flag {
    width: 20px;
}

.nameCard {
    width: 90px;
}