* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 375px;
    font-family: 'Poppins', sans-serif;
  }

  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Mulish', sans-serif; */

  html {
    background-color: #0c0c0e;
    color: #D9D9D9;
  }