
* {
  background-color: #0c0c0e;
  color: #d9d9d9;
}
.caja {
  background-color: #0c0c0e;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5em;
  padding-top: 190px;
  padding-bottom: 2em;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: Montserrat;
}

button {
  width: 280px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #6b0034;
  color: #e4e4e4;
  border-radius: 8px;
  border: none;
}

button:hover {
    cursor: pointer;
}

.ilustracion {
  z-index: -1;
}



